.input {
  width: 100%;
  height: 4.8rem;
  font-size: 1.4rem;
  letter-spacing: -0.17px;
  border: none;
  border-radius: 5px;
  padding-inline: 5.2rem 8rem;
  transition: all 200ms;
}

.create-button {
  font-size: 1.4rem;
  padding: 0.5rem 0.8rem;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: hsl(235, 19%, 35%);
  font-weight: 700;
  cursor: pointer;
}

.create-button:hover {
  color: hsl(280, 87%, 65%);
}

.create-button--dark {
  color: var(--clr-light-gray);
}

.create-button--dark:hover {
  color: hsl(192, 100%, 67%);
}

.input--dark {
  background-color: var(--clr-element-bg-darkmode);
  color: hsl(234, 39%, 85%);
}

.input.input--dark::placeholder {
  color: var(--clr-text-light-darkmode);
}

.form-container--dark.form-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid hsl(237, 14%, 26%);
}

.form-container {
  position: relative;
  margin-bottom: 1.6rem;
}

.form-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--clr-light-gray);
  transition: all 200ms;
}

.input::placeholder {
  color: var(--clr-gray);
}

@media (min-width: 768px) {
  .input {
    height: 6.4rem;
    padding-inline: 7.2rem 8.5rem;
    font-size: 1.8rem;
  }

  .form-container {
    margin-bottom: 2.4rem;
  }

  .create-button {
    right: 3%;
    top: 50%;
  }
}